In [1]:
from scripts import project_functions 
df = project_functions.load_and_process('../data/raw/Master_Ranked_Games.csv')
df

,index,gameDuraton,teamWins,teamFirstBlood,teamFirstTower,teamFirstBaron,teamFirstDragon,teamFirstInhibitor,blueDragonKills,blueBaronKills,...,redWardkills,redChampionDamageDealt,redTotalGold,redTotalMinionKills,redAvgLevel,redKillingSpree,redTotalHeal,redObjectDamageDealt,blueKDA,redKDA
0,0,1429,0,1,1,0,0,0,0,0,...,37,53831,41991,609,12.8,4,12916,26338,1.052632,9.142857
1,1,1313,0,0,1,0,0,0,0,0,...,20,52924,39672,510,12.6,4,12252,29828,0.681818,10.833333
2,2,1660,1,0,0,1,1,1,1,1,...,16,61745,46516,630,13.0,2,17005,37066,7.000000,1.166667
3,3,984,1,1,1,0,1,0,2,0,...,11,25007,21444,304,8.2,1,10499,3085,20.000000,0.307692
4,4,1437,0,1,1,0,1,0,2,0,...,32,71794,45798,565,13.6,7,47523,47150,1.708333,3.263158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106872,107120,2479,1,1,0,0,0,0,3,1,...,48,149798,72167,789,17.2,6,34890,62124,5.000000,1.571429
106873,107121,932,0,0,0,0,0,0,0,0,...,4,37534,32931,364,10.2,5,11983,31400,0.391304,9.800000
106874,107122,2081,0,1,1,0,0,0,1,0,...,40,97369,71576,797,17.0,8,33499,79612,1.648649,4.200000
106875,107123,1619,0,0,0,0,0,0,1,0,...,28,116262,59001,524,14.4,11,52292,60903,1.414634,4.739130
106876,107124,1129,1,0,1,0,0,1,1,0,...,11,33263,26963,423,9.4,1,12749,8035,7.166667,0.588235